body, canvas{ margin: 0; padding: 0; border: 0 none; } /* remove all the borders so there isn't any weird whitespace in the body & canvas */

body {
    
    background-color: #E6E6FA;
    overflow: hidden; /* Hide scrollbars */
  }
  .container {
    
    position: absolute;
    display: block;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    top: 10%;
    left: 30%;
    background-color: rgb(255, 127, 80);
    border-style: solid;
    border-color:  #cc3600;
    border-width: 0.2em;
    /*background-color: #533549;*/
    /*box-shadow: 0 15px 25px rgba(0,0,0,.9);*/
    /*border-radius: 10px;*/
    width: 40%;
    height: 75%;
    text-align: center;
  }
  .container h1 {
      color: white;
      font-size: 8vh;
      font-weight: 300;
  }
  .container h2 {
      color: white;
      font-size: .5em;
      font-weight: 300;
  }
  .container p{
      color: white;
      font-size: 64px;
  }

  .submit {
      border: 0;
      background: none;
      margin: 0.1em;
      padding: 0.1em 1em;
      display: inline-block;
      text-align: center;
      /*background-color: #DC143C;*/
      /*border: 2px solid #dbb434;*/
      outline: none;
      color: white;
      border-radius: 18px;
      transition: 0.25s;
      cursor: pointer;
      text-decoration: none;
      font-size: 5vh;
      font-family: 'Roboto Slab', serif;
  }
  .submit:hover {
      /*font-size: 15px;*/
      background-image: linear-gradient(to right, #FF7F50 0%,#ffffff 100%);
      border:0;
  }
  ul.menu {
      text-align: center;
      font-size: 1em;
      padding: 0;
      margin: 0;
      list-style: none;
  }
  

  .notification {
      position: absolute;
      display: none;
      font-size: 128px;
      font-family: 'Roboto Slab', serif;
      top: 20%;
      width: 100%;
      text-align: center;
  }

  .life {
      display: none;
  }